<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <title>HAP Code Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet"
          type="text/css">

    <link rel="icon" href="resources/images/favicon.png" type="image/x-icon">
    <link href="resources/css/quasar.mat.rtl.min.css" rel="stylesheet"
          type="text/css">
    <link href="resources/css/styles.css" rel="stylesheet">

</head>
<body>
<div id="q-app">
    <q-layout view="hhh LpR fFf">
        <q-layout-header>
            <q-toolbar>
                <q-btn flat round dense @click="drawerState = !drawerState" icon="menu"></q-btn>
                <q-toolbar-title>
                    HAP Code Generator v1.0.0
                    <div slot="subtitle">Jeb Sun</div>
                </q-toolbar-title>
            </q-toolbar>
        </q-layout-header>

        <q-layout-drawer v-model="drawerState" content-class="bg-grey-3">
            <q-scroll-area style="width:350px; height: 100%;">
                <database-tree></database-tree>
            </q-scroll-area>
        </q-layout-drawer>

        <q-page-container>
            <q-page >
                <p class="caption"><strong>数据库对象</strong></p>
                <db-table-detail></db-table-detail>
            </q-page>
        </q-page-container>
    </q-layout>
</div>

<script src="resources/js/mock.js"></script>
<script src="resources/js/quasar.ie.polyfills.umd.min.js"></script>
<script src="resources/js/vue.min.js"></script>
<script src="resources/js/quasar.mat.umd.js"></script>
<script src="resources/js/axios.min.js"></script>
<script src="resources/js/validators.min.js"></script>
<script src="resources/js/vuelidate.min.js"></script>

<script type="text/x-template" id="databaseTree">
    <div>
        <q-search icon="search" v-model="treeNodeName" clearable class="q-mb-sm" />
        <q-tree ref="databaseTree" :nodes="root" node-key="nodeKey" @lazy-load="onLazyLoad" :selected.sync="selectedNodeKey"
                color="secondary" :filter="treeNodeName" style="font-size:12px" >
        </q-tree>
    </div>
</script>
<script type="text/x-template" id="databaseTableDetail">
    <q-table title="数据库表对象" :data="tableData.columnList" :columns="columns" row-key="field" :pagination.sync="pagination"
             :rows-per-page-options="rowsPerPage" dense>
        <q-td slot="body-cell-columnDataBaseTypeName" slot-scope="props" :props="props">
            <q-chip small color="secondary">{{ props.value }}</q-chip>
        </q-td>
        <q-td slot="body-cell-javaTypeName" slot-scope="props" :props="props">
            <q-select v-model="props.row.javaTypeName" :options="javaTypeOptions" />
        </q-td>
        <template slot="top" slot-scope="props" >
            <div class="row fit gutter-sm">
                <q-field class="col-3">
                    <q-input float-label="Schema" readonly v-model="tableData.schema"/>
                </q-field>
                <q-field class="col-3">
                    <q-input float-label="表/视图名称" readonly v-model="tableData.tableName"/>
                </q-field>
                <q-field class="col-3">
                    <q-input float-label="对象类型" readonly v-model="tableData.objectType"/>
                </q-field>
                <q-field class="col-3">
                    <q-select float-label="是否强制生成" v-model="tableData.forceGenerate" :options="yesOrNoOptions"/>
                </q-field>
                <q-field class="col-3" helper="生成代码包名, 如:tech.jebsun" :error="$v.tableData.basePackage.$error"
                         error-label="请输入正确的包名 !">
                    <q-input float-label="基包名" v-model="tableData.basePackage" @blur="$v.tableData.basePackage.$touch"/>
                </q-field>
                <q-field class="col-3" helper="Java DTO类名称" :error="$v.tableData.className.$error"
                         error-label="DTO类名称不可为空 !">
                    <q-input float-label="DTO类名称" v-model="tableData.className" @blur="$v.tableData.className.$touch"/>
                </q-field>
                <q-field class="col-3" helper="代码存储路径, 如:D:/CodeGenerated" :error="$v.tableData.outPath.$error"
                         error-label="存储路径不能为空 !">
                    <q-input float-label="存储路径" v-model="tableData.outPath" @blur="$v.tableData.outPath.$touch"/>
                </q-field>
                <div class="col-3">
                    <q-btn color="primary" @click="generate" label="生成代码" style="top:8px;"/>
                </div>
            </div>
        </template>
    </q-table>
</script>

<script>

    Mock.mock('http://www.jebsun.tech/getDataBaseTree','get',function(options){
        return {
            "success":true,
            "message":null,
            "rows":[
                {
                    "label":"MySQL5",
                    "nodeKey":"45afc2bc-800e-4fa4-b068-596462c4b4a1",
                    "icon":"storage",
                    "schema":null,
                    "nodeType":"ROOT-NODE",
                    "expandable":true,
                    "disabled":false,
                    "lazy":false,
                    "tickable":false,
                    "noTick":true,
                    "children":[
                        {
                            "label":"hap_local",
                            "nodeKey":"5cf75ee4-ef56-4351-a68d-007fdeb74984",
                            "icon":"sd storage",
                            "schema":null,
                            "nodeType":"SCHEMA-NODE",
                            "expandable":true,
                            "disabled":false,
                            "lazy":false,
                            "tickable":false,
                            "noTick":true,
                            "children":[
                                {
                                    "label":"TABLE",
                                    "nodeKey":"953ad92d-fe76-4c34-9408-769362c4eb7f",
                                    "icon":"folder",
                                    "schema":"hap_local",
                                    "nodeType":"TABLE-NODE",
                                    "expandable":true,
                                    "disabled":false,
                                    "lazy":true,
                                    "tickable":false,
                                    "noTick":true,
                                    "children":[

                                    ]
                                },
                                {
                                    "label":"VIEW",
                                    "nodeKey":"fec6fa62-80af-46fa-9d17-329350d39cc3",
                                    "icon":"folder open",
                                    "schema":"hap_local",
                                    "nodeType":"VIEW-NODE",
                                    "expandable":true,
                                    "disabled":false,
                                    "lazy":true,
                                    "tickable":false,
                                    "noTick":true,
                                    "children":[

                                    ]
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    });


    Mock.mock('http://www.jebsun.tech/getSchemaTables?schema=hap_local','get',function(options) {
        return {
            "success":true,
            "message":null,
            "rows":[
                {
                    "label":"hap_demo",
                    "nodeKey":"ae103870-e192-4ae4-a7f4-fbba3e1c8478",
                    "icon":"description",
                    "schema":"hap_local",
                    "nodeType":"TABLE-LEAF",
                    "expandable":true,
                    "disabled":false,
                    "lazy":false,
                    "tickable":false,
                    "noTick":false
                },
                {
                    "label":"hr_employee",
                    "nodeKey":"a883f8ae-0fe0-4bbd-a37d-933cd214acd3",
                    "icon":"description",
                    "schema":"hap_local",
                    "nodeType":"TABLE-LEAF",
                    "expandable":true,
                    "disabled":false,
                    "lazy":false,
                    "tickable":false,
                    "noTick":false
                }
            ]
        }
    });

    Mock.mock('http://www.jebsun.tech/getSchemaViews?schema=hap_local','get',function(options) {
        return {
            "success":true,
            "message":null,
            "rows":[
            ]
        }
    });

    function tranformCaml(str){
        if(!str)
            return str;

        var strArr=str.split('_');
        for(var i = 0; i < strArr.length; i++){
            strArr[i] = strArr[i].charAt(0).toUpperCase() + strArr[i].substring(1);
        }
        return strArr.join('');
    }

    function tranformCamlFirstLower(str){
        if(!str)
            return str;

        var strArr = str.split('_');
        for(var i = 1; i < strArr.length; i++){
            strArr[i] = strArr[i].charAt(0).toLowerCase() + strArr[i].substring(1);
        }
        return strArr.join('');
    }

    function firstToLowerCase(str) {
        if(!str)
            return str;

        var strArr = str.split('');
        strArr[0] = strArr[0].charAt(0).toLowerCase();
        return strArr.join('');
    }


    Vue.use(window.vuelidate.default);
    const { required, minLength } = window.validators;

    var bus = new Vue();

    var databaseTree = Vue.component('database-tree', {
        template: '#databaseTree',
        data: function () {
            return {
                treeNodeName: '',
                selectedNodeKey: null,
                root: [{
                    label: "loadding"
                }]
            }
        },
        methods: {
            onLazyLoad ({ node, key, done, fail }) {
                var url = "http://www.jebsun.tech/";
                if (node.nodeType == "TABLE-NODE") {
                    url = url + "getSchemaTables";
                } else if (node.nodeType == "VIEW-NODE") {
                    url = url + "getSchemaViews";
                } else {
                    return;
                }
                axios.get(url, {
                    params: {
                        schema: node.schema
                    }
                }).then(function (response) {
                    if (response.data.success) {
                        done(response.data.rows);
                    } else {
                        fail(response.data.message);
                    }
                });
            }
        },
        mounted: function () {
            var that = this;
            var dbTree = this.$refs.databaseTree;
            axios.get('http://www.jebsun.tech/getDataBaseTree')
                    .then(function (response) {
                        if (response.data.success) {
                            that.root = response.data.rows;
                            that.$nextTick(function () {
                                dbTree.expandAll();
                            });
                        } else {
                            that.$q.dialog({
                                title: 'Error',
                                message: response.data.message
                            });
                        }
                    })
                    .catch(function (err) {
                        that.$q.dialog({
                            title: 'Error',
                            message: err.message
                        });
                    });
        },
        watch: {
            selectedNodeKey: function (nodeKey, oldNodeKey) {
                var dbTree = this.$refs.databaseTree;

                if (nodeKey == null)
                    return;

                var node = dbTree.getNodeByKey(nodeKey);
                if (node == null)
                    return;

                if(node.nodeType == 'TABLE-NODE' || node.nodeType == 'VIEW-NODE') {
                    node.children = [];
                    dbTree.$set(dbTree.lazy, nodeKey, 'loading');
                    dbTree.$emit('lazy-load', {
                        node: node,
                        key: nodeKey,
                        done: function (children) {
                            dbTree.lazy[nodeKey] = 'loaded';
                            if (children) {
                                node.children = children;
                            }
                            dbTree.$nextTick(function () {
                                var m = dbTree.meta[nodeKey];
                                if (m && m.isParent) {
                                    dbTree.setExpanded(nodeKey, true);
                                }
                            });
                        },
                        fail: function () {
                            dbTree.$delete(dbTree.lazy, nodeKey);
                        }
                    });
                }
                else if (node.nodeType == 'TABLE-LEAF' || node.nodeType == 'VIEW-LEAF') {
                    var tableName = node.label;
                    var schema = node.schema;
                    var objectType = "table";
                    if (node.nodeType == 'VIEW-LEAF')
                        objectType = "view";

                    var tableNameArr = tableName.split('_');
                    var basePackgeArr = [];
                    basePackgeArr.push(tableNameArr[0]);
                    basePackgeArr.push(tableNameArr[1]);
                    var basePackage = basePackgeArr.join('.');

                    axios.get('getTableColumns', {
                        params: {
                            tableName: tableName,
                            schema: schema
                        }
                    }).then(function (response) {
                        if (response.data.success) {
                            bus.$emit('dataLoaded', {
                                tableData: {
                                    schema: schema,
                                    tableName: tableName,
                                    className: tranformCaml(tableName),
                                    classNameFirstLowwer: tranformCamlFirstLower(tableName),
                                    objectType: objectType,
                                    forceGenerate: 'N',
                                    generatedValue: 'GENERATOR_TYPE',
                                    basePackage: basePackage,
                                    outPath: "",
                                    columnList: response.data.rows
                                }
                            });
                        } else {
                            that.$q.dialog({
                                title: 'Error',
                                message: response.data.message
                            });
                        }
                    }).catch(function (err) {
                        console.log(err);
                    });
                }
            }
        }
    });

    var dbTableDetail = Vue.component('db-table-detail', {
        template: '#databaseTableDetail',
        data: function () {
            return {
                yesOrNoOptions : [
                    {
                        label: '是',
                        value: 'Y'
                    }, {
                        label: '否',
                        value: 'N'
                    }
                ],
                javaTypeOptions : [
                ],
                pagination : {
                    sortBy: null,
                    descending: false,
                    page: 1,
                    rowsPerPage: 0
                },
                rowsPerPage : [0],
                columns : [
                    {
                        label: '列名',
                        field: 'columnName',
                        width: 150,
                        align: 'left',
                    }, {
                        label: '是否主键',
                        field: 'primaryKey',
                        align: 'center',
                        width: 60
                    }, {
                        label: '是否唯一',
                        field: 'unique',
                        align: 'center',
                        width: 60
                    }, {
                        label: '是否可空',
                        field: 'nullable',
                        align: 'center',
                        width: 60
                    }, {
                        label: '列类型',
                        field: 'columnCategory',
                        align: 'left',
                        width: 80
                    }, {
                        label: '数据库类型',
                        field: 'columnDataBaseTypeName',
                        name : 'columnDataBaseTypeName',
                        align: 'left',
                        width: 95
                    }, {
                        label: '字段长度',
                        field: 'columnSize',
                        width: 70
                    }, {
                        label: '默认值',
                        field: 'defaultValue',
                        width: 80
                    }, {
                        label: 'Java类型',
                        field: 'javaTypeName',
                        name: "javaTypeName",
                        width: 80
                    }, {
                        label: '表备注',
                        field: "columnComment",
                        width: 180
                    }
                ],
                tableData: {
                    schema: "",
                    tableName: "",
                    className: "",
                    classNameFirstLowwer : "",
                    objectType: "",
                    forceGenerate: 'N',
                    generatedValue: "",
                    basePackage: "",
                    outPath:"",
                    columnList: []
                }
            }
        },
        mounted : function () {
            var that = this;
            bus.$on("dataLoaded", function (data) {
                that.tableData = data.tableData;
            });
            axios.get('getAllJavaTypes')
                    .then(function (response) {
                        if (response.data.success) {
                            var javaTypeOptions = response.data.rows;
                            for(var item in javaTypeOptions) {
                                var javaTypeOption = javaTypeOptions[item];
                                javaTypeOption.label = javaTypeOption.shortType;
                                javaTypeOption.value = javaTypeOption.shortType;
                            }
                            that.javaTypeOptions = javaTypeOptions;
                        } else {
                            that.$q.notify('获取Java类型失败 !')
                        }
                    }).catch(function (err) {
                that.$q.dialog({
                    title: 'Error',
                    message: err.message
                });
            });

        },
        watch : {
            'tableData.className' : function(val, oldVal) {
                if(val)
                    this.tableData.classNameFirstLowwer = firstToLowerCase(val);
                else
                    this.tableData.classNameFirstLowwer = "";
            }
        },
        methods : {
            generate () {
                this.$v.tableData.$touch();
                if (this.$v.tableData.$error) {
                    this.$q.notify('请检查输入值是否正确!');
                    return;
                }
            }
        },
        validations : {
            tableData : {
                basePackage : {
                    required,
                    basePackageRule : function(value) {
                        if (value === '') return true
                        return new Promise(function(resolve, reject) {
                            setTimeout( function() {
                                resolve(value.match(/^[A-Za-z\.]+[^\.]$/g));
                            },350);
                        });
                    }
                },
                outPath : {
                    required
                },
                className : {
                    required
                }
            }
        }
    });

    var vm = new Vue({
        el: '#q-app',
        data: function () {
            return {
                drawerState : true,
                selectedTab : "tab-2"
            }
        },
        methods: {
            launch: function (url) {
                Quasar.utils.openURL(url)
            }
        }
    });
</script>
</body>
</html>
